@font-face {
  font-family: Kurdish-Font;
  src: url(Fonts/Rabar_021.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.splash-screen-body{
    height: 100vh;
    align-content: center;

    background-color: #004466;
}
.splash-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

    flex-direction: column;

    gap: 8px;
}

.splash-screen .text{
    color: white;
    font-weight: bold;
    font-family: Kurdish-Font;

    font-size: 4vh;
}

.splash-screen .subtext{
    color: white;
    font-family: Kurdish-Font;

    font-size: 2vh;
}

.bottom{
    text-align: center;
    position: absolute;
    bottom: 0;

    width: 100%;
    margin-bottom: 10px;

    font-size: 1.6vh;

    color: white;
}
.loading{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 5px solid white;
    border-radius: 50%;
    margin: 8px;
}

.loader:nth-child(1) {
    animation: loader 0.8s ease-in-out alternate infinite;
}

.loader:nth-child(2) {
    animation: loader 0.8s ease-in-out .3s alternate infinite;
}

.loader:nth-child(3) {
    animation: loader 0.8s ease-in-out 0.6s alternate infinite;
}

@keyframes loader {
    to {
        transform: scale(1.8);
    }
}


header{
    display: flex;
    height: 66px;
    background-color: #004466;
    color: white;
    
}

.section-one, .section-two, .section-three{
    width: 100%;
    height: 100%;

    align-content: center;
    text-align: center;
    justify-content: center;
}

.section-two{
    color: white;
    font-weight: bold;
    font-family: Kurdish-Font;

    font-size: 2.4vh;
}

.input-default{
    width: 100%;
    height: 55px;
    border-radius: 14px;
    padding: 0 10px;
    outline: 2px solid #004466;
    border: none;
    transition: 1px all ease;
    background: none;
    font-weight: bold;
    font-size: 2vh;
    margin: 8px auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    font-family: Kurdish-Font;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
}
.input-default:focus{
    outline: 3px solid #005461;
}

.input-error{
    width: 100%;
    height: 55px;
    border-radius: 14px;
    padding: 0 10px;
    outline: 2px solid #FF3838;
    border: none;
    transition: 1px all ease;
    background-color: rgb(207, 15, 15, 0.05);
    font-weight: bold;
    margin: 8px auto;
    box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    font-family: Kurdish-Font;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
}
.input-error:focus{
    outline: 3px solid #DC0000;
}

.input-correct{
    width: 100%;
    height: 55px;
    border-radius: 14px;
    padding: 0 10px;
    outline: 2px solid #73AF6F;
    border: none;
    transition: 1px all ease;
    background-color: rgb(0, 126, 110, 0.05);
    font-weight: bold;
    margin: 8px auto;
    box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    font-family: Kurdish-Font;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
}
.input-correct:focus{
    outline: 3px solid #007E6E;
}

.input-warning{
    width: 100%;
    height: 55px;
    border-radius: 14px;
    padding: 0 10px;
    outline: 2px solid #FFC900;
    border: none;
    transition: 1px all ease;
    background-color: rgb(255, 201, 0, 0.05);
    font-weight: bold;
    margin: 8px auto;
    box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    font-family: Kurdish-Font;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
}
.input-warning:focus{
    outline: 3px solid #FF9B00;
}

.body{
    display: flex;
    flex-direction: column;
    background-color: #F0F8FF;
}

.body .container{
    display: flex;
    flex-direction: column;
    direction: rtl;

    background-color: white;
    border-radius: 12px;
    margin: 7px;
    padding: 7px;

    font-size: 2.2vh;

    text-align: right;

    font-family: Kurdish-Font;
}

.body .container-warning{
    display: flex;
    flex-direction: row;

    background-color: #FFF9EB;
    border-radius: 12px;
    margin: 7px;
    padding: 7px;

    font-size: 2.2vh;

    text-align: right;

    font-family: Kurdish-Font;

    gap: 5px;
}

.body .container-warning img{
    width: 42px;
    height: 42px;
}


.button-small{
        width:90%;
        height: 55px;
        border-radius: 7px;
        border: none;
        background-color: #004466;
        color: white;
        transition: 0.5s all ease;
        font-weight: bold;
        font-size: 2.4vh;
        font-family: Kurdish-Font;
box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
}
    .button-small:hover{
        background-color: #005461;
        cursor: pointer;
    }
    .button-medium{
        width:20%;
        height: 66px;
        border-radius: 7px;
        border: none;
        background-color: #004466;
        color: white;
        transition: 0.5s all ease;
        font-weight: bold;
        font-size: 2.4vh;
        font-family: Kurdish-Font;
box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    }
    .button-medium:hover{
        background-color: #005461;
        cursor: pointer;
    }
    .button-large{
        width:100%;
        height: 66px;
        border-radius: 7px;
        border: none;
        background-color: #004466;
        color: white;
        transition: 0.5s all ease;
        font-weight: bold;
        font-size: 2.4vh;
        margin: 8px auto;
        font-family: Kurdish-Font;
box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
box-sizing: border-box;
    }
    .button-large:hover{
        background-color: #005461;
        cursor: pointer;
        
    }
        .button-disable{
        width:100%;
        height: 66px;
        border-radius: 7px;
        border: 1px solid #D1D1D1;
        background-color: #E0E0E0;
        color: #9E9E9E;
        transition: 0.5s all ease;
        font-weight: bold;
        font-size: 2.4vh;
        margin: 8px auto;
        font-family: Kurdish-Font;
box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
box-sizing: border-box;
    }
        .button-small-border{
        width:10%;
        height: 66px;
        border-radius: 7px;
        border: none;
        background:none;
        border: 2px solid #004466;
        color: #018790;
        transition: 0.5s all ease;
        font-weight: bold;
        font-size: 2.4vh;
        font-family: Kurdish-Font;
box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    }
    .button-small-border:hover{
        border: 2px solid #005461;
        cursor: pointer;
    }
            .button-medium-border{
        width:20%;
        height: 66px;
        border-radius: 7px;
        border: none;
        background:none;
        border: 2px solid #004466;
        color: #018790;
        transition: 0.5s all ease;
        font-weight: bold;
        font-size: 2.4vh;
        font-family: Kurdish-Font;
box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    }
    .button-medium-border:hover{
        border: 2px solid #005461;
        cursor: pointer;
    }
                .button-large-border{
        width:30%;
        height: 66px;
        border-radius: 7px;
        border: none;
        background:none;
        border: 2px solid #004466;
        color: #018790;
        transition: 0.5s all ease;
        font-weight: bold;
        font-size: 2.4vh;
        font-family: Kurdish-Font;
box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    }
    .button-large-border:hover{
        border: 2px solid #005461;
        cursor: pointer;
    }

    .pop-up{
        display: none;
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .pop-up .inner-pop-up{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 40%;
        width: 70%;
        padding: 8px;
        border-radius: 12px;
        background-color: white;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pop-up .inner-pop-up .icon{
        height: 75px;
        width: 75px;
        border-radius: 100%;
    }
    .pop-up .inner-pop-up .headtext{
        font-size: 3vh;
        font-family: Kurdish-Font;
        color: #004466;
        direction: rtl;
    }
    .pop-up .inner-pop-up .subtext{
        text-align: center;
        font-size: 2vh;
        font-family: Kurdish-Font;
        color: rgb(36, 36, 36);
        padding: 1px 7px;
        direction: rtl;
    }

    select{
    width: 100%;
    height: 55px;
    border-radius: 14px;
    padding: 0 10px;
    outline: 2px solid #004466;
    border: none;
    transition: 1px all ease;
    background: none;
    font-weight: bold;
    font-size: 2vh;
    margin: 8px auto;
    box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    font-family: Kurdish-Font;
    box-sizing: border-box;
    }

    .phone-box{
        display: flex;
        gap: 8px;
        flex-direction: row-reverse;
    }

    .country-phone{
        display: flex;
    height: 55px;
    border-radius: 14px;
    padding: 0 10px;
    outline: 2px solid #004466;
    border: none;
    background-color: #004466;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    margin: 8px auto;
    box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 4px 16px, 
  rgba(17, 17, 26, 0.05) 0px 8px 32px, 
  rgba(17, 17, 26, 0.03) 0px 16px 56px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    direction: ltr;
    }

    